* {
  font-family: 'Lexend', sans-serif; }
  * ::selection {
    background-color: #86b7fe; }

html {
  height: 100%;
  min-height: 100%; }

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0; }

.btn-fill {
  background: #56C596;
  border: 1px solid #56C596;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(110, 109, 109, 0.3); }
  .btn-fill:hover {
    background: #278f64;
    border: 1px solid #278f64;
    border-radius: 0.5rem;
    color: white; }

.btn-inverse {
  background: white !important;
  border: 1px solid #56C596 !important;
  color: #56C596 !important;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(110, 109, 109, 0.3); }
  .btn-inverse:hover {
    background: #56C596 !important;
    border: 1px solid #56C596 !important;
    border-radius: 0.5rem;
    color: white !important; }

.btn-voltar {
  background: #00ACB1 !important;
  border: 1px solid #00ACB1 !important;
  color: white !important;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(110, 109, 109, 0.3); }
  .btn-voltar:hover {
    background: white !important;
    border: 1px solid #00ACB1 !important;
    border-radius: 0.5rem !important;
    color: #00ACB1 !important; }

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#205072, #329D9C); }
  .login .container {
    height: 25rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    border-radius: 1.5rem; }
    .login .container .title-container {
      margin: 2rem;
      font-family: 'Lexend', sans-serif;
      font-weight: 600;
      font-size: 1rem; }
    .login .container .form-container {
      width: 70%; }
    .login .container form input {
      border-radius: 0.5rem;
      background: rgba(255, 255, 255, 0.7); }
      .login .container form input:focus {
        background: white; }

#id_valor_1 {
  visibility: hidden; }

#id_comissao_vendedor_1 {
  visibility: hidden; }

.navbar {
  background: #00ACB1 !important;
  align-items: center;
  min-height: 8vh;
  z-index: 999;
  margin-bottom: 2rem; }
  .navbar .gerenciar-identifier {
    color: white; }
  .navbar .navbar-collapse {
    justify-content: flex-end; }
  .navbar .nav-item {
    margin: 0.75rem; }
  .navbar .dropdown .dropdown-menu .dropdown-item {
    color: #56C596; }
    .navbar .dropdown .dropdown-menu .dropdown-item:hover {
      background: #56C596;
      color: white; }
  .navbar .dropdown button {
    color: #56C596 !important; }
    .navbar .dropdown button:focus {
      color: #56C596 !important; }
    .navbar .dropdown button:hover {
      color: white !important; }
  .navbar #filterSelection:hover, .navbar #filterSelection:focus {
    background: #f6f6f6 !important;
    color: #56C596 !important; }
    .navbar #filterSelection:hover option:hover, .navbar #filterSelection:focus option:hover {
      color: #56C596 !important; }
  .navbar #searchbox {
    border-color: #56C596 !important;
    background-color: #ececec !important; }
    .navbar #searchbox:hover, .navbar #searchbox:focus, .navbar #searchbox:active {
      background-color: white !important; }
      .navbar #searchbox:hover::placeholder, .navbar #searchbox:focus::placeholder, .navbar #searchbox:active::placeholder {
        color: #e2e2e2 !important; }
    .navbar #searchbox::placeholder {
      color: #56C596 !important; }

.content {
  min-height: 100%; }
  .content .formCadastroImovel select {
    display: none; }

.dados-imovel tr:first-child {
  border-top: none; }

.dados-imovel tr:last-child {
  border-bottom: 0.5px solid #f0f0f0; }

.dados-imovel tr img {
  border-radius: 25px;
  margin-right: 0.5rem;
  transform: translateY(0.5rem); }

.dados-imovel tr span {
  margin-top: 1rem; }

.dados-cliente td:first-child {
  display: flex;
  align-items: center; }

.dados-cliente td img {
  border-radius: 25px;
  margin-right: 0.5rem;
  transform: translateY(0.5rem); }

.dados-cliente td span {
  margin-top: 1rem; }

.table-light {
  width: 100%;
  text-align: left;
  position: relative;
  border-collapse: collapse; }
  .table-light tbody {
    overflow-y: scroll; }
  .table-light tr {
    border-bottom: none; }
    .table-light tr th {
      top: 0;
      position: sticky;
      padding-left: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background: white;
      color: #aaaaaa;
      box-shadow: 0 2px 5px -3px rgba(70, 70, 70, 0.4);
      font-weight: 500;
      border: none;
      z-index: 2; }
      .table-light tr th:first-child {
        padding-left: 3rem; }
      .table-light tr th:last-child {
        padding-right: 3rem; }
  .table-light td {
    padding-left: 1rem;
    font-family: 'Lexend', sans-serif;
    vertical-align: middle;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-color: #f0f0f0;
    font-size: 1rem;
    color: #0b3055; }
    .table-light td:nth-child(-n + 2) {
      font-weight: 600; }
    .table-light td:first-child {
      padding-left: 3rem; }
    .table-light td:last-child {
      display: flex;
      justify-content: flex-end;
      padding-right: 3rem; }
  .table-light .dropdown {
    position: relative;
    display: inline-block; }
    .table-light .dropdown .btn-option {
      background: #ececec;
      border-radius: 0.75rem;
      margin-bottom: 1rem; }
      .table-light .dropdown .btn-option:hover {
        background: #CCC; }
    .table-light .dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      border-radius: 0.75rem;
      min-width: 8rem;
      overflow: auto;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
      right: 0;
      z-index: 1; }
      .table-light .dropdown .dropdown-content .btn-selecionar,
      .table-light .dropdown .dropdown-content .btn-editar {
        width: 100%;
        background: white;
        padding: 12px 16px;
        text-align: left;
        border-radius: 0; }
        .table-light .dropdown .dropdown-content .btn-selecionar:hover,
        .table-light .dropdown .dropdown-content .btn-editar:hover {
          background-color: #56C596;
          color: white; }
      .table-light .dropdown .dropdown-content .btn-excluir {
        width: 100%;
        background: white;
        padding: 12px 16px;
        text-align: left;
        border-radius: 0; }
        .table-light .dropdown .dropdown-content .btn-excluir:hover {
          background: #fd5454;
          color: white; }
      .table-light .dropdown .dropdown-content button {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block; }
        .table-light .dropdown .dropdown-content button:hover, .table-light .dropdown .dropdown-content button:focus {
          background-color: #56C596 !important;
          color: white !important; }
    .table-light .dropdown .show {
      display: block; }

.list-content {
  min-height: 85.5vh;
  max-height: 85.5vh;
  overflow: auto; }
  .list-content::-webkit-scrollbar {
    display: none; }

footer {
  margin-top: auto;
  background: #329D9C;
  min-height: 6.5vh;
  max-height: 6.5vh;
  box-shadow: 0 -5px 10px -5px rgba(70, 70, 70, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%; }
  footer .greetings {
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    text-decoration: none; }
  footer .form-logout {
    margin-right: 3rem; }
    footer .form-logout .btn-logout {
      background: #fd5454;
      color: white;
      border-radius: 0.5rem;
      box-shadow: 0 0 10px 0 rgba(110, 109, 109, 0.3); }
      footer .form-logout .btn-logout:hover {
        background: #dd4848;
        border: 1px solid #dd4848;
        border-radius: 0.5rem; }

.row > * {
  margin-bottom: 1rem; }

.simulacao-content {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .simulacao-content .box-element {
    box-shadow: #cccccc 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 1.5rem; }

@media screen and (max-width: 700px) {
  .dados-imovel .dropdown {
    position: relative;
    display: inline-block; }
    .dados-imovel .dropdown .btn-option {
      background: #ececec;
      border-radius: 0.75rem;
      margin-top: 1rem; } }

@media screen and (max-width: 590px) {
  .dados-imovel .dropdown {
    position: relative;
    display: inline-block; }
    .dados-imovel .dropdown .btn-option {
      background: #ececec;
      border-radius: 0.75rem;
      margin-top: 1rem; } }

@media screen and (max-width: 900px) {
  .simulacao-content .box-element {
    margin: 0.5rem; }
  .list-content {
    flex-direction: column; } }

.resumo-content {
  display: flex;
  justify-content: center;
  align-items: center; }
  .resumo-content .container {
    width: fit-content; }
  .resumo-content .box-element {
    box-shadow: #cccccc 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 1.5rem; }

.modal-body input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .modal-body input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); }

.list-vendas-container {
  overflow: auto; }

.vendas-content {
  height: 100%;
  display: flex;
  background: #f6f6f6; }
  .vendas-content::-webkit-scrollbar {
    display: none; }
  .vendas-content .vendedor-details {
    background: linear-gradient(25deg, #329D9C, #56C596);
    width: 20rem;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0 8px 2px #999999;
    z-index: 99; }
    .vendas-content .vendedor-details .img-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem; }
      .vendas-content .vendedor-details .img-container img {
        border-radius: 50%; }
    .vendas-content .vendedor-details .info-container {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: white; }
  .vendas-content .list-vendas {
    background: #f6f6f6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    z-index: -1;
    flex: 2;
    max-height: 100%;
    min-height: 100%; }
    .vendas-content .list-vendas .card {
      border: none;
      box-shadow: 0 0 10px 2px #d9d9d9;
      height: fit-content;
      width: 18rem;
      margin: 2rem;
      background: white; }
    .vendas-content .list-vendas::-webkit-scrollbar {
      display: none; }

@media screen and (max-width: 500px) {
  .vendas-content {
    flex-direction: column; }
    .vendas-content .vendedor-details {
      padding: 0.5rem;
      width: 100vw; }
    .vendas-content .list-vendas {
      justify-content: center; }
  footer {
    margin-top: auto; }
  .list-content {
    height: 100%;
    flex-direction: column; } }

/*# sourceMappingURL=styles.css.map */