{% extends 'components/form_imoveis.html'%}
{% load static %}
{% block lista_imoveis %}
<div class="list-content">
<table class="table-light">
        <thead>
            <tr class="header-imovel">
                <th>Imovel</th>
                <th>Localizacao</th>
                <th>Valor</th>
                <th>Comissão</th>
                <th></th>
            </tr>
        </thead>
        {% for imoveis in imoveis %}
        <tbody class="dados-imovel">            
            <tr>            
                <td>{{ imoveis.tipo }}</td>
                <td>{{ imoveis.localizacao }}</td>
                <td>{{ imoveis.valor }}</td>
                <td>{{ imoveis.comissao_vendedor }}</td>
                <td>
                    <div id="dropdown" class="dropdown">
                    <div class="btn btn-option" id="option-btn"><i id="icon-option" class="fas fa-ellipsis-h"></i></div>
                        <div id="imovel-options" class="dropdown-content">
                            <div>
                                <form id="selected_form" class="form-inline" action="{% url 'simulacao' imoveis.pk %}" method="POST">
                                {% csrf_token %}
                                    <button type="submit" class="btn btn-selecionar" id="option-selectionar">Selecionar</button>
                                </form>
                            </div>
                            <div>
                                <!-- Envia os dados para preencher o modal de edição do imovel selecionado -->
                                <button 
                                    class="btn btn-editar"
                                    type="button" 
                                    data-bs-title="Editar {{ identifier }}"
                                    data-bs-check="true"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#modalCadastro" 
                                    data-bs-tipo="{{ imoveis.tipo}}"
                                    data-bs-localizacao="{{ imoveis.localizacao }}"
                                    data-bs-valor="{{ imoveis.valor.amount }}" 
                                    data-bs-comissao="{{ imoveis.comissao_vendedor.amount }}"
                                    data-bs-id-imovel="{{ imoveis.id }}"
                                >Editar</button>
                            </div>
                            <div>
                                <form id="selected_form" class="form-inline" action="{% url 'delete_imovel' imoveis.pk %}" method="POST">
                                {% csrf_token %}
                                    <button type="submit" class="btn btn-excluir" id="option-excluir">Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}